<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseMerger.Properties.Settings.bachelorConnectionString"
            connectionString="server=localhost;user id=root;password=wasihrwolle;persistsecurityinfo=True;database=bachelor"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>